<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>halloween2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{172,116}}</string>
                <key>offset</key>
                <string>{-81,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{172,116}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>halloween2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{344,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{344,116}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>halloween2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{344,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{344,120}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>halloween2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{346,120}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>halloween2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f00c6c492fadce688b93c1f5bb12ede:1/1$</string>
            <key>textureFileName</key>
            <string>halloween2.png</string>
        </dict>
    </dict>
</plist>
