<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>handclick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,182}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{100,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>handclick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,166}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,82},{98,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>handClickAnim.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3f63cd220aaca0adc9e32aebb86824b$</string>
            <key>textureFileName</key>
            <string>handClickAnim.png</string>
        </dict>
    </dict>
</plist>
