<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forest</key>
	<dict>
		<key>imageName</key>
		<string>Animal_Hd_06.png</string>
	</dict>
	<key>farm</key>
	<dict>
		<key>imageName</key>
		<string>Animal_Hd_04.png</string>
	</dict>
	<key>africa</key>
	<dict>
		<key>imageName</key>
		<string>Animal_Hd_05.png</string>
	</dict>
	<key>sea</key>
	<dict>
		<key>imageName</key>
		<string>Animal_Hd_03.png</string>
	</dict>
	<key>polar</key>
	<dict>
		<key>imageName</key>
		<string>Animal_Hd_01.png</string>
	</dict>
	<key>insect</key>
	<dict>
		<key>imageName</key>
		<string>Animal_Hd_02.png</string>
	</dict>
	<key>desert</key>
	<dict>
		<key>imageName</key>
		<string>Animal_Hd_07.png</string>
	</dict>
	<key>vehicle</key>
	<dict>
		<key>imageName</key>
		<string>Life_Hd_01.png</string>
	</dict>
	<key>toy</key>
	<dict>
		<key>imageName</key>
		<string>Life_Hd_02.png</string>
	</dict>
	<key>playground</key>
	<dict>
		<key>imageName</key>
		<string>Life_Hd_03.png</string>
	</dict>
	<key>livingroom</key>
	<dict>
		<key>imageName</key>
		<string>Life_Hd_04.png</string>
	</dict>
	<key>music</key>
	<dict>
		<key>imageName</key>
		<string>Life_Hd_06.png</string>
	</dict>
	<key>flower</key>
	<dict>
		<key>imageName</key>
		<string>Life_Hd_07.png</string>
	</dict>
	<key>bakery</key>
	<dict>
		<key>imageName</key>
		<string>Food_Hd_01.png</string>
	</dict>
	<key>beverage</key>
	<dict>
		<key>imageName</key>
		<string>Food_Hd_02.png</string>
	</dict>
	<key>fruit</key>
	<dict>
		<key>imageName</key>
		<string>Food_Hd_03.png</string>
	</dict>
	<key>vegetable</key>
	<dict>
		<key>imageName</key>
		<string>Food_Hd_04.png</string>
	</dict>
	<key>halloween</key>
	<dict>
		<key>imageName</key>
		<string>Festival_Hd_01.png</string>
	</dict>
	<key>thanksgiving</key>
	<dict>
		<key>imageName</key>
		<string>Festival_Hd_02.png</string>
	</dict>
	<key>christmas</key>
	<dict>
		<key>imageName</key>
		<string>Festival_Hd_03.png</string>
	</dict>
	<key>universe</key>
	<dict>
		<key>imageName</key>
		<string>Others_Hd_03.png</string>
	</dict>
</dict>
</plist>
