<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MatchSoundArr</key>
	<array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>koala</string>
				<key>effect</key>
				<string>koala</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tiger</string>
				<key>effect</key>
				<string>tiger</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>bear</string>
				<key>effect</key>
				<string>bear</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>gorilla</string>
				<key>effect</key>
				<string>gorilla</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>wolf</string>
				<key>effect</key>
				<string>wolf</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>panda</string>
				<key>effect</key>
				<string>panda</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>fox</string>
				<key>effect</key>
				<string>fox</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>bunny</string>
				<key>effect</key>
				<string>bunny</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>parrot</string>
				<key>effect</key>
				<string>parrot</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>horse</string>
				<key>effect</key>
				<string>horse</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>dog</string>
				<key>effect</key>
				<string>dog</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pig</string>
				<key>effect</key>
				<string>pig</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>sheep</string>
				<key>effect</key>
				<string>sheep</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>goose</string>
				<key>effect</key>
				<string>goose</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cow</string>
				<key>effect</key>
				<string>cow</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cat</string>
				<key>effect</key>
				<string>cat</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>duck</string>
				<key>effect</key>
				<string>duck</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hen</string>
				<key>effect</key>
				<string>hen</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>rooster</string>
				<key>effect</key>
				<string>rooster</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>goat</string>
				<key>effect</key>
				<string>goat</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>elephant</string>
				<key>effect</key>
				<string>elephant</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>eagle</string>
				<key>effect</key>
				<string>eagle</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hippo</string>
				<key>effect</key>
				<string>hippo</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>leopard</string>
				<key>effect</key>
				<string>leopard</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>zebra</string>
				<key>effect</key>
				<string>zebra</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>giraffe</string>
				<key>effect</key>
				<string>giraffe</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>kangaroo</string>
				<key>effect</key>
				<string>kangaroo</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>deer</string>
				<key>effect</key>
				<string>deer</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>rhinoceros</string>
				<key>effect</key>
				<string>rhinoceros</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>lion</string>
				<key>effect</key>
				<string>lion</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>pterosaurs</string>
				<key>effect</key>
				<string>pterosaurs</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>apatosaurus</string>
				<key>effect</key>
				<string>apatosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tyrannosaurus</string>
				<key>effect</key>
				<string>tyrannosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>triceratops</string>
				<key>effect</key>
				<string>triceratops</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ankylosaurus</string>
				<key>effect</key>
				<string>ankylosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pachycephalosaurus</string>
				<key>effect</key>
				<string>pachycephalosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>deinonychus</string>
				<key>effect</key>
				<string>deinonychus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>stegosaurus</string>
				<key>effect</key>
				<string>stegosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>crocodile</string>
				<key>effect</key>
				<string>crocodile</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>compsognathus</string>
				<key>effect</key>
				<string>compsognathus</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>whale</string>
				<key>effect</key>
				<string>whale</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>octopus</string>
				<key>effect</key>
				<string>octopus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>fish</string>
				<key>effect</key>
				<string>fish</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>turtle</string>
				<key>effect</key>
				<string>turtle</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>lobster</string>
				<key>effect</key>
				<string>lobster</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>crab</string>
				<key>effect</key>
				<string>crab</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>starfish</string>
				<key>effect</key>
				<string>starfish</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>seahorse</string>
				<key>effect</key>
				<string>seahorse</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>jellyfish</string>
				<key>effect</key>
				<string>jellyfish</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>sealion</string>
				<key>effect</key>
				<string>sealion</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>fighter</string>
				<key>effect</key>
				<string>fighter</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>passengerliner</string>
				<key>effect</key>
				<string>passengerliner</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>airplane</string>
				<key>effect</key>
				<string>airplane</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hotairballoon</string>
				<key>effect</key>
				<string>hotairballoon</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>schoolbus</string>
				<key>effect</key>
				<string>schoolbus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>policecar</string>
				<key>effect</key>
				<string>policecar</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ambulance</string>
				<key>effect</key>
				<string>ambulance</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>car</string>
				<key>effect</key>
				<string>car</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>motorcycle</string>
				<key>effect</key>
				<string>motor</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tricycle</string>
				<key>effect</key>
				<string>tricycle</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>bread</string>
				<key>effect</key>
				<string>food1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cake</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>muffin</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>sandwich</string>
				<key>effect</key>
				<string>food1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pie</string>
				<key>effect</key>
				<string>food1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hotdog</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>donut</string>
				<key>effect</key>
				<string>food1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hamburger</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cheese</string>
				<key>effect</key>
				<string>food3</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>waffle</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>watermelon</string>
				<key>effect</key>
				<string>fruit1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pineapple</string>
				<key>effect</key>
				<string>fruit2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pear</string>
				<key>effect</key>
				<string>fruit3</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>melon</string>
				<key>effect</key>
				<string>fruit2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>grapes</string>
				<key>effect</key>
				<string>fruit1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mango</string>
				<key>effect</key>
				<string>fruit4</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>kiwi</string>
				<key>effect</key>
				<string>fruit1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>banana</string>
				<key>effect</key>
				<string>fruit4</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>lemon</string>
				<key>effect</key>
				<string>fruit1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>peach</string>
				<key>effect</key>
				<string>fruit3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>watercolors</string>
				<key>effect</key>
				<string>watercolors</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>modellingclay</string>
				<key>effect</key>
				<string>modellingclay</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>jackinthebox</string>
				<key>effect</key>
				<string>jackinthebox</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>blocks</string>
				<key>effect</key>
				<string>blocks</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>teddybear</string>
				<key>effect</key>
				<string>plushtoys</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>magiccube</string>
				<key>effect</key>
				<string>magiccube</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>rockinghorse</string>
				<key>effect</key>
				<string>horse</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>watergun</string>
				<key>effect</key>
				<string>watergun</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>top</string>
				<key>effect</key>
				<string>top</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>doll</string>
				<key>effect</key>
				<string>doll</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>china</string>
				<key>effect</key>
				<string>mercury</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>japan</string>
				<key>effect</key>
				<string>venus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>unitedkingdom</string>
				<key>effect</key>
				<string>earth</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>germany</string>
				<key>effect</key>
				<string>mars</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>spain</string>
				<key>effect</key>
				<string>jupiter</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>france</string>
				<key>effect</key>
				<string>saturn</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>unitedstates</string>
				<key>effect</key>
				<string>uranus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>canada</string>
				<key>effect</key>
				<string>neptune</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mexico</string>
				<key>effect</key>
				<string>mexico</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>australia</string>
				<key>effect</key>
				<string>australia</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>milk</string>
				<key>effect</key>
				<string>milk</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cola</string>
				<key>effect</key>
				<string>cola</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>juice</string>
				<key>effect</key>
				<string>juice</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ice</string>
				<key>effect</key>
				<string>ice</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>icecream</string>
				<key>effect</key>
				<string>icecream</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>honey</string>
				<key>effect</key>
				<string>honey</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>water</string>
				<key>effect</key>
				<string>water</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tea</string>
				<key>effect</key>
				<string>tea</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>yogurt</string>
				<key>effect</key>
				<string>yogurt</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>coffee</string>
				<key>effect</key>
				<string>coffee</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>slide</string>
				<key>effect</key>
				<string>slide</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>bench</string>
				<key>effect</key>
				<string>bench</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>balloon</string>
				<key>effect</key>
				<string>balloon</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pool</string>
				<key>effect</key>
				<string>pool</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>baseball</string>
				<key>effect</key>
				<string>baseball</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>rope</string>
				<key>effect</key>
				<string>rope</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>seesaw</string>
				<key>effect</key>
				<string>bench</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tricycle</string>
				<key>effect</key>
				<string>tricycle</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>kite</string>
				<key>effect</key>
				<string>bench</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>swing</string>
				<key>effect</key>
				<string>swing</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>television</string>
				<key>effect</key>
				<string>television</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>telephone</string>
				<key>effect</key>
				<string>telephone</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>sofa</string>
				<key>effect</key>
				<string>sofa</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>vase</string>
				<key>effect</key>
				<string>vase</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>fireplace</string>
				<key>effect</key>
				<string>fireplace</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>table</string>
				<key>effect</key>
				<string>table</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>piano</string>
				<key>effect</key>
				<string>piano</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>light</string>
				<key>effect</key>
				<string>light</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>lamp</string>
				<key>effect</key>
				<string>lamp</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ball</string>
				<key>effect</key>
				<string>ball</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>ball</string>
				<key>effect</key>
				<string>ball</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pillow</string>
				<key>effect</key>
				<string>pillow</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>clock</string>
				<key>effect</key>
				<string>clock</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>skateboard</string>
				<key>effect</key>
				<string>skateboard</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>quilt</string>
				<key>effect</key>
				<string>quilt</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>lamp</string>
				<key>effect</key>
				<string>lamp</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>painting</string>
				<key>effect</key>
				<string>painting</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>rug</string>
				<key>effect</key>
				<string>rug</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cabinet</string>
				<key>effect</key>
				<string>cabinet</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>dresser</string>
				<key>effect</key>
				<string>dresser</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>sun</string>
				<key>effect</key>
				<string>mercury</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>moon</string>
				<key>effect</key>
				<string>venus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>earth</string>
				<key>effect</key>
				<string>earth</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>astronaut</string>
				<key>effect</key>
				<string>astronaut</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>spaceshuttle</string>
				<key>effect</key>
				<string>spaceshuttle</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ufo</string>
				<key>effect</key>
				<string>ufo</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mercury</string>
				<key>effect</key>
				<string>mars</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mars</string>
				<key>effect</key>
				<string>jupiter</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>jupiter</string>
				<key>effect</key>
				<string>saturn</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>saturn</string>
				<key>effect</key>
				<string>uranus</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>ant</string>
				<key>effect</key>
				<string>ant</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>spider</string>
				<key>effect</key>
				<string>spiderani</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>fly</string>
				<key>effect</key>
				<string>fly</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mosquito</string>
				<key>effect</key>
				<string>mosquito</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>butterfly</string>
				<key>effect</key>
				<string>butterfly</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>beetle</string>
				<key>effect</key>
				<string>beetle</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ladybug</string>
				<key>effect</key>
				<string>ladybug</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mantis</string>
				<key>effect</key>
				<string>mantis</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>bee</string>
				<key>effect</key>
				<string>bee</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>dragonfly</string>
				<key>effect</key>
				<string>dragonfly</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>nightingale</string>
				<key>effect</key>
				<string>nightingale</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>flamingo</string>
				<key>effect</key>
				<string>flamingo</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>xema</string>
				<key>effect</key>
				<string>xema</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>seagull</string>
				<key>effect</key>
				<string>seagull</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>condor</string>
				<key>effect</key>
				<string>condor</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>swan</string>
				<key>effect</key>
				<string>swan</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>albatross</string>
				<key>effect</key>
				<string>albatross</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>frog</string>
				<key>effect</key>
				<string>frog</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>turkey</string>
				<key>effect</key>
				<string>turkey</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>baldeagle</string>
				<key>effect</key>
				<string>baldeagle</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>lettuce</string>
				<key>effect</key>
				<string>vegetable1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pea</string>
				<key>effect</key>
				<string>pea</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>carrot</string>
				<key>effect</key>
				<string>carrot</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pumpkin</string>
				<key>effect</key>
				<string>pumpkin</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tomato</string>
				<key>effect</key>
				<string>tomato</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>spinach</string>
				<key>effect</key>
				<string>vegetable1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cabbage</string>
				<key>effect</key>
				<string>vegetable1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>onion</string>
				<key>effect</key>
				<string>onion</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mushroom</string>
				<key>effect</key>
				<string>mushroom</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>chili</string>
				<key>effect</key>
				<string>chili</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>koala</string>
				<key>effect</key>
				<string>koala</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tiger</string>
				<key>effect</key>
				<string>tiger</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>bear</string>
				<key>effect</key>
				<string>bear</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>gorilla</string>
				<key>effect</key>
				<string>gorillaani</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>wolf</string>
				<key>effect</key>
				<string>wolf</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>panda</string>
				<key>effect</key>
				<string>panda</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>fox</string>
				<key>effect</key>
				<string>fox</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>bunny</string>
				<key>effect</key>
				<string>bunny</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>parrot</string>
				<key>effect</key>
				<string>parrot</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>horse</string>
				<key>effect</key>
				<string>horse</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>dog</string>
				<key>effect</key>
				<string>dog</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pig</string>
				<key>effect</key>
				<string>pig</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>sheep</string>
				<key>effect</key>
				<string>sheep</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>goose</string>
				<key>effect</key>
				<string>goose</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cow</string>
				<key>effect</key>
				<string>cow</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cat</string>
				<key>effect</key>
				<string>cat</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>duck</string>
				<key>effect</key>
				<string>duck</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hen</string>
				<key>effect</key>
				<string>hen</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>rooster</string>
				<key>effect</key>
				<string>rooster</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>goat</string>
				<key>effect</key>
				<string>goat</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>elephant</string>
				<key>effect</key>
				<string>elephant</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>eagle</string>
				<key>effect</key>
				<string>eagle</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hippo</string>
				<key>effect</key>
				<string>hippo</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>leopard</string>
				<key>effect</key>
				<string>leopard</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>zebra</string>
				<key>effect</key>
				<string>zebra</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>giraffe</string>
				<key>effect</key>
				<string>giraffe</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>kangaroo</string>
				<key>effect</key>
				<string>kangaroo</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>deer</string>
				<key>effect</key>
				<string>deer</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>rhinoceros</string>
				<key>effect</key>
				<string>rhinoceros</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>lion</string>
				<key>effect</key>
				<string>lion</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pterosaurs</string>
				<key>effect</key>
				<string>pterosaurs</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>apatosaurus</string>
				<key>effect</key>
				<string>apatosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tyrannosaurus</string>
				<key>effect</key>
				<string>tyrannosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>triceratops</string>
				<key>effect</key>
				<string>triceratops</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ankylosaurus</string>
				<key>effect</key>
				<string>ankylosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pachycephalosaurus</string>
				<key>effect</key>
				<string>pachycephalosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>deinonychus</string>
				<key>effect</key>
				<string>deinonychus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>stegosaurus</string>
				<key>effect</key>
				<string>stegosaurus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>crocodile</string>
				<key>effect</key>
				<string>crocodile</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>compsognathus</string>
				<key>effect</key>
				<string>compsognathus</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>fighter</string>
				<key>effect</key>
				<string>fighter</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>passengerliner</string>
				<key>effect</key>
				<string>passengerliner</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>airplane</string>
				<key>effect</key>
				<string>airplane</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hotairballoon</string>
				<key>effect</key>
				<string>hotairballoon</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>schoolbus</string>
				<key>effect</key>
				<string>schoolbus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>policecar</string>
				<key>effect</key>
				<string>policecar</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ambulance</string>
				<key>effect</key>
				<string>ambulance</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>car</string>
				<key>effect</key>
				<string>car</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>motorcycle</string>
				<key>effect</key>
				<string>motor</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tricycle</string>
				<key>effect</key>
				<string>tricycle</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>bread</string>
				<key>effect</key>
				<string>food1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cake</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>muffin</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>sandwich</string>
				<key>effect</key>
				<string>food1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pie</string>
				<key>effect</key>
				<string>food1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hotdog</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>donut</string>
				<key>effect</key>
				<string>food1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>hamburger</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cheese</string>
				<key>effect</key>
				<string>food3</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>waffle</string>
				<key>effect</key>
				<string>food2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>watermelon</string>
				<key>effect</key>
				<string>fruit1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pineapple</string>
				<key>effect</key>
				<string>fruit2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pear</string>
				<key>effect</key>
				<string>fruit3</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>melon</string>
				<key>effect</key>
				<string>fruit2</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>grapes</string>
				<key>effect</key>
				<string>fruit1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mango</string>
				<key>effect</key>
				<string>fruit4</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>kiwi</string>
				<key>effect</key>
				<string>fruit1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>banana</string>
				<key>effect</key>
				<string>fruit4</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>lemon</string>
				<key>effect</key>
				<string>fruit1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>peach</string>
				<key>effect</key>
				<string>fruit3</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>watercolors</string>
				<key>effect</key>
				<string>watercolors</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>modellingclay</string>
				<key>effect</key>
				<string>modellingclay</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>jackinthebox</string>
				<key>effect</key>
				<string>jackinthebox</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>blocks</string>
				<key>effect</key>
				<string>blocks</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>teddybear</string>
				<key>effect</key>
				<string>plushtoys</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>magiccube</string>
				<key>effect</key>
				<string>magiccube</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>rockinghorse</string>
				<key>effect</key>
				<string>horse</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>watergun</string>
				<key>effect</key>
				<string>watergun</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>top</string>
				<key>effect</key>
				<string>top</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>doll</string>
				<key>effect</key>
				<string>doll</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>pronounce</key>
				<string>sun</string>
				<key>effect</key>
				<string>mercury</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>moon</string>
				<key>effect</key>
				<string>venus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>earth</string>
				<key>effect</key>
				<string>earth</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>astronaut</string>
				<key>effect</key>
				<string>astronaut</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>spaceshuttle</string>
				<key>effect</key>
				<string>spaceshuttle</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ufo</string>
				<key>effect</key>
				<string>ufo</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mercury</string>
				<key>effect</key>
				<string>mars</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mars</string>
				<key>effect</key>
				<string>jupiter</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>jupiter</string>
				<key>effect</key>
				<string>saturn</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>saturn</string>
				<key>effect</key>
				<string>uranus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>lettuce</string>
				<key>effect</key>
				<string>vegetable1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pea</string>
				<key>effect</key>
				<string>pea</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>carrot</string>
				<key>effect</key>
				<string>carrot</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>pumpkin</string>
				<key>effect</key>
				<string>pumpkin</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>tomato</string>
				<key>effect</key>
				<string>tomato</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>spinach</string>
				<key>effect</key>
				<string>vegetable1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>cabbage</string>
				<key>effect</key>
				<string>vegetable1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>onion</string>
				<key>effect</key>
				<string>onion</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mushroom</string>
				<key>effect</key>
				<string>mushroom</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>chili</string>
				<key>effect</key>
				<string>chili</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ant</string>
				<key>effect</key>
				<string>ant</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>spider</string>
				<key>effect</key>
				<string>spiderani</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>fly</string>
				<key>effect</key>
				<string>fly</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mosquito</string>
				<key>effect</key>
				<string>mosquito</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>butterfly</string>
				<key>effect</key>
				<string>butterfly</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>beetle</string>
				<key>effect</key>
				<string>beetle</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ladybug</string>
				<key>effect</key>
				<string>ladybug</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>mantis</string>
				<key>effect</key>
				<string>mantis</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>bee</string>
				<key>effect</key>
				<string>bee</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>dragonfly</string>
				<key>effect</key>
				<string>dragonfly</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>skeleton</string>
				<key>effect</key>
				<string>skeleton</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>wreath</string>
				<key>effect</key>
				<string>wreath</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>ghost</string>
				<key>effect</key>
				<string>ghost</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>stockings</string>
				<key>effect</key>
				<string>stockings</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>bag</string>
				<key>effect</key>
				<string>bag</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>magician</string>
				<key>effect</key>
				<string>magician</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>candy</string>
				<key>effect</key>
				<string>food1</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>reindeer</string>
				<key>effect</key>
				<string>reindeer</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>santaclaus</string>
				<key>effect</key>
				<string>santaclaus</string>
			</dict>
			<dict>
				<key>pronounce</key>
				<string>christmastree</string>
				<key>effect</key>
				<string>christmastree</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
