<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Animal</key>
	<dict>
		<key>crane</key>
		<dict>
			<key>pronounce</key>
			<string>crane</string>
			<key>effect</key>
			<string>crane</string>
		</dict>
		<key>condor</key>
		<dict>
			<key>pronounce</key>
			<string>condor</string>
			<key>effect</key>
			<string>condor</string>
		</dict>
		<key>flamingo</key>
		<dict>
			<key>pronounce</key>
			<string>flamingo</string>
			<key>effect</key>
			<string>flamingo</string>
		</dict>
		<key>frog</key>
		<dict>
			<key>pronounce</key>
			<string>frog</string>
			<key>effect</key>
			<string>frog</string>
		</dict>
		<key>parrot</key>
		<dict>
			<key>pronounce</key>
			<string>parrot</string>
			<key>effect</key>
			<string>parrot</string>
		</dict>
		<key>quail</key>
		<dict>
			<key>pronounce</key>
			<string>quail</string>
			<key>effect</key>
			<string>quail</string>
		</dict>
		<key>seagull</key>
		<dict>
			<key>pronounce</key>
			<string>seagull</string>
			<key>effect</key>
			<string>seagull</string>
		</dict>
		<key>swan</key>
		<dict>
			<key>pronounce</key>
			<string>swan</string>
			<key>effect</key>
			<string>swan</string>
		</dict>
		<key>xema</key>
		<dict>
			<key>pronounce</key>
			<string>xema</string>
			<key>effect</key>
			<string>xema</string>
		</dict>
		<key>camel</key>
		<dict>
			<key>pronounce</key>
			<string>camel</string>
			<key>effect</key>
			<string>camel</string>
		</dict>
		<key>gecko</key>
		<dict>
			<key>pronounce</key>
			<string>gecko</string>
			<key>effect</key>
			<string>gecko</string>
		</dict>
		<key>lizard</key>
		<dict>
			<key>pronounce</key>
			<string>lizard</string>
			<key>effect</key>
			<string>lizard</string>
		</dict>
		<key>mongoose</key>
		<dict>
			<key>pronounce</key>
			<string>mongoose</string>
			<key>effect</key>
			<string>mongoose</string>
		</dict>
		<key>ostrich</key>
		<dict>
			<key>pronounce</key>
			<string>ostrich</string>
			<key>effect</key>
			<string>ostrich</string>
		</dict>
		<key>scorpion</key>
		<dict>
			<key>pronounce</key>
			<string>scorpion</string>
			<key>effect</key>
			<string>scorpion</string>
		</dict>
		<key>bull</key>
		<dict>
			<key>pronounce</key>
			<string>bull</string>
			<key>effect</key>
			<string>bull</string>
		</dict>
		<key>cat</key>
		<dict>
			<key>pronounce</key>
			<string>cat</string>
			<key>effect</key>
			<string>cat</string>
		</dict>
		<key>cow</key>
		<dict>
			<key>pronounce</key>
			<string>cow</string>
			<key>effect</key>
			<string>cow</string>
		</dict>
		<key>dog</key>
		<dict>
			<key>pronounce</key>
			<string>dog</string>
			<key>effect</key>
			<string>dog</string>
		</dict>
		<key>duck</key>
		<dict>
			<key>pronounce</key>
			<string>duck</string>
			<key>effect</key>
			<string>duck</string>
		</dict>
		<key>goat</key>
		<dict>
			<key>pronounce</key>
			<string>goat</string>
			<key>effect</key>
			<string>goat</string>
		</dict>
		<key>goose</key>
		<dict>
			<key>pronounce</key>
			<string>goose</string>
			<key>effect</key>
			<string>goose</string>
		</dict>
		<key>hen</key>
		<dict>
			<key>pronounce</key>
			<string>hen</string>
			<key>effect</key>
			<string>hen</string>
		</dict>
		<key>horse</key>
		<dict>
			<key>pronounce</key>
			<string>horse</string>
			<key>effect</key>
			<string>horse</string>
		</dict>
		<key>pig</key>
		<dict>
			<key>pronounce</key>
			<string>pig</string>
			<key>effect</key>
			<string>pig</string>
		</dict>
		<key>rooster</key>
		<dict>
			<key>pronounce</key>
			<string>rooster</string>
			<key>effect</key>
			<string>rooster</string>
		</dict>
		<key>sheep</key>
		<dict>
			<key>pronounce</key>
			<string>sheep</string>
			<key>effect</key>
			<string>sheep</string>
		</dict>
		<key>vole</key>
		<dict>
			<key>pronounce</key>
			<string>vole</string>
			<key>effect</key>
			<string>vole</string>
		</dict>
		<key>yak</key>
		<dict>
			<key>pronounce</key>
			<string>yak</string>
			<key>effect</key>
			<string>yak</string>
		</dict>
		<key>bear</key>
		<dict>
			<key>pronounce</key>
			<string>bear</string>
			<key>effect</key>
			<string>bear</string>
		</dict>
		<key>bunny</key>
		<dict>
			<key>pronounce</key>
			<string>bunny</string>
			<key>effect</key>
			<string>bunny</string>
		</dict>
		<key>crocodile</key>
		<dict>
			<key>pronounce</key>
			<string>crocodile</string>
			<key>effect</key>
			<string>crocodile</string>
		</dict>
		<key>dinosaur</key>
		<dict>
			<key>pronounce</key>
			<string>dinosaur</string>
			<key>effect</key>
			<string>dinosaur</string>
		</dict>
		<key>fox</key>
		<dict>
			<key>pronounce</key>
			<string>fox</string>
			<key>effect</key>
			<string>fox</string>
		</dict>
		<key>gorilla</key>
		<dict>
			<key>pronounce</key>
			<string>gorilla</string>
			<key>effect</key>
			<string>gorillaani</string>
		</dict>
		<key>koala</key>
		<dict>
			<key>pronounce</key>
			<string>koala</string>
			<key>effect</key>
			<string>koala</string>
		</dict>
		<key>panda</key>
		<dict>
			<key>pronounce</key>
			<string>panda</string>
			<key>effect</key>
			<string>panda</string>
		</dict>
		<key>tiger</key>
		<dict>
			<key>pronounce</key>
			<string>tiger</string>
			<key>effect</key>
			<string>tiger</string>
		</dict>
		<key>unicorn</key>
		<dict>
			<key>pronounce</key>
			<string>unicorn</string>
			<key>effect</key>
			<string>unicorn</string>
		</dict>
		<key>wolf</key>
		<dict>
			<key>pronounce</key>
			<string>wolf</string>
			<key>effect</key>
			<string>wolf</string>
		</dict>
		<key>ant</key>
		<dict>
			<key>pronounce</key>
			<string>ant</string>
			<key>effect</key>
			<string>ant</string>
		</dict>
		<key>bee</key>
		<dict>
			<key>pronounce</key>
			<string>bee</string>
			<key>effect</key>
			<string>bee</string>
		</dict>
		<key>beetle</key>
		<dict>
			<key>pronounce</key>
			<string>beetle</string>
			<key>effect</key>
			<string>beetle</string>
		</dict>
		<key>bumblebee</key>
		<dict>
			<key>pronounce</key>
			<string>bumblebee</string>
			<key>effect</key>
			<string>bumblebee</string>
		</dict>
		<key>butterfly</key>
		<dict>
			<key>pronounce</key>
			<string>butterfly</string>
			<key>effect</key>
			<string>butterfly</string>
		</dict>
		<key>dragonfly</key>
		<dict>
			<key>pronounce</key>
			<string>dragonfly</string>
			<key>effect</key>
			<string>dragonfly</string>
		</dict>
		<key>fly</key>
		<dict>
			<key>pronounce</key>
			<string>fly</string>
			<key>effect</key>
			<string>fly</string>
		</dict>
		<key>insect</key>
		<dict>
			<key>pronounce</key>
			<string>insect</string>
			<key>effect</key>
			<string>insect</string>
		</dict>
		<key>ladybug</key>
		<dict>
			<key>pronounce</key>
			<string>ladybug</string>
			<key>effect</key>
			<string>ladybug</string>
		</dict>
		<key>mantis</key>
		<dict>
			<key>pronounce</key>
			<string>mantis</string>
			<key>effect</key>
			<string>mantis</string>
		</dict>
		<key>mosquito</key>
		<dict>
			<key>pronounce</key>
			<string>mosquito</string>
			<key>effect</key>
			<string>mosquito</string>
		</dict>
		<key>spider</key>
		<dict>
			<key>pronounce</key>
			<string>spider</string>
			<key>effect</key>
			<string>spiderani</string>
		</dict>
		<key>snail</key>
		<dict>
			<key>pronounce</key>
			<string>snail</string>
			<key>effect</key>
			<string>snail</string>
		</dict>
		<key>penguin</key>
		<dict>
			<key>pronounce</key>
			<string>penguin</string>
			<key>effect</key>
			<string>penguin</string>
		</dict>
		<key>reindeer</key>
		<dict>
			<key>pronounce</key>
			<string>reindeer</string>
			<key>effect</key>
			<string>reindeer</string>
		</dict>
		<key>seal</key>
		<dict>
			<key>pronounce</key>
			<string>seal</string>
			<key>effect</key>
			<string>seal</string>
		</dict>
		<key>walrus</key>
		<dict>
			<key>pronounce</key>
			<string>walrus</string>
			<key>effect</key>
			<string>walrus</string>
		</dict>
		<key>deer</key>
		<dict>
			<key>pronounce</key>
			<string>deer</string>
			<key>effect</key>
			<string>deer</string>
		</dict>
		<key>eagle</key>
		<dict>
			<key>pronounce</key>
			<string>eagle</string>
			<key>effect</key>
			<string>eagle</string>
		</dict>
		<key>elephant</key>
		<dict>
			<key>pronounce</key>
			<string>elephant</string>
			<key>effect</key>
			<string>elephant</string>
		</dict>
		<key>giraffe</key>
		<dict>
			<key>pronounce</key>
			<string>giraffe</string>
			<key>effect</key>
			<string>giraffe</string>
		</dict>
		<key>hippo</key>
		<dict>
			<key>pronounce</key>
			<string>hippo</string>
			<key>effect</key>
			<string>hippo</string>
		</dict>
		<key>kangaroo</key>
		<dict>
			<key>pronounce</key>
			<string>kangaroo</string>
			<key>effect</key>
			<string>kangaroo</string>
		</dict>
		<key>leopard</key>
		<dict>
			<key>pronounce</key>
			<string>leopard</string>
			<key>effect</key>
			<string>leopard</string>
		</dict>
		<key>lion</key>
		<dict>
			<key>pronounce</key>
			<string>lion</string>
			<key>effect</key>
			<string>lion</string>
		</dict>
		<key>zebra</key>
		<dict>
			<key>pronounce</key>
			<string>zebra</string>
			<key>effect</key>
			<string>zebra</string>
		</dict>
		<key>crab</key>
		<dict>
			<key>pronounce</key>
			<string>crab</string>
			<key>effect</key>
			<string>crab</string>
		</dict>
		<key>dolphin</key>
		<dict>
			<key>pronounce</key>
			<string>dolphin</string>
			<key>effect</key>
			<string>dolphin</string>
		</dict>
		<key>fish</key>
		<dict>
			<key>pronounce</key>
			<string>fish</string>
			<key>effect</key>
			<string>fish</string>
		</dict>
		<key>jellyfish</key>
		<dict>
			<key>pronounce</key>
			<string>jellyfish</string>
			<key>effect</key>
			<string>jellyfish</string>
		</dict>
		<key>lobster</key>
		<dict>
			<key>pronounce</key>
			<string>lobster</string>
			<key>effect</key>
			<string>lobster</string>
		</dict>
		<key>octopus</key>
		<dict>
			<key>pronounce</key>
			<string>octopus</string>
			<key>effect</key>
			<string>octopus</string>
		</dict>
		<key>shark</key>
		<dict>
			<key>pronounce</key>
			<string>shark</string>
			<key>effect</key>
			<string>shark</string>
		</dict>
		<key>starfish</key>
		<dict>
			<key>pronounce</key>
			<string>starfish</string>
			<key>effect</key>
			<string>starfish</string>
		</dict>
		<key>turtle</key>
		<dict>
			<key>pronounce</key>
			<string>turtle</string>
			<key>effect</key>
			<string>turtle</string>
		</dict>
		<key>whale</key>
		<dict>
			<key>pronounce</key>
			<string>whale</string>
			<key>effect</key>
			<string>whale</string>
		</dict>
	</dict>
	<key>Festival</key>
	<dict>
		<key>bag</key>
		<dict>
			<key>pronounce</key>
			<string>bag</string>
			<key>effect</key>
			<string>bag</string>
		</dict>
		<key>candle</key>
		<dict>
			<key>pronounce</key>
			<string>candle</string>
			<key>effect</key>
			<string>candle</string>
		</dict>
		<key>candy</key>
		<dict>
			<key>pronounce</key>
			<string>candy</string>
			<key>effect</key>
			<string>candy</string>
		</dict>
		<key>present</key>
		<dict>
			<key>pronounce</key>
			<string>present</string>
			<key>effect</key>
			<string>present</string>
		</dict>
		<key>reindeer</key>
		<dict>
			<key>pronounce</key>
			<string>reindeer</string>
			<key>effect</key>
			<string>reindeer</string>
		</dict>
		<key>stockings</key>
		<dict>
			<key>pronounce</key>
			<string>stockings</string>
			<key>effect</key>
			<string>stockings</string>
		</dict>
		<key>wreath</key>
		<dict>
			<key>pronounce</key>
			<string>wreath</string>
			<key>effect</key>
			<string>wreath</string>
		</dict>
		<key>broom</key>
		<dict>
			<key>pronounce</key>
			<string>broom</string>
			<key>effect</key>
			<string>broom</string>
		</dict>
		<key>cat</key>
		<dict>
			<key>pronounce</key>
			<string>cat</string>
			<key>effect</key>
			<string>cathall</string>
		</dict>
		<key>ghost</key>
		<dict>
			<key>pronounce</key>
			<string>ghost</string>
			<key>effect</key>
			<string>ghost</string>
		</dict>
		<key>magician</key>
		<dict>
			<key>pronounce</key>
			<string>magician</string>
			<key>effect</key>
			<string>magician</string>
		</dict>
		<key>pumpkin</key>
		<dict>
			<key>pronounce</key>
			<string>pumpkin</string>
			<key>effect</key>
			<string>pumpkinhall</string>
		</dict>
		<key>skeleton</key>
		<dict>
			<key>pronounce</key>
			<string>skeleton</string>
			<key>effect</key>
			<string>skeleton</string>
		</dict>
		<key>spider</key>
		<dict>
			<key>pronounce</key>
			<string>spider</string>
			<key>effect</key>
			<string>spider</string>
		</dict>
		<key>witch</key>
		<dict>
			<key>pronounce</key>
			<string>witch</string>
			<key>effect</key>
			<string>witch</string>
		</dict>
		<key>corn</key>
		<dict>
			<key>pronounce</key>
			<string>corn</string>
			<key>effect</key>
			<string>corn</string>
		</dict>
		<key>pitcher</key>
		<dict>
			<key>pronounce</key>
			<string>pitcher</string>
			<key>effect</key>
			<string>pitcher</string>
		</dict>
		<key>potato</key>
		<dict>
			<key>pronounce</key>
			<string>potato</string>
			<key>effect</key>
			<string>food1</string>
		</dict>
		<key>turkey</key>
		<dict>
			<key>pronounce</key>
			<string>turkey</string>
			<key>effect</key>
			<string>turkey</string>
		</dict>
	</dict>
	<key>Food</key>
	<dict>
		<key>bread</key>
		<dict>
			<key>pronounce</key>
			<string>bread</string>
			<key>effect</key>
			<string>food1</string>
		</dict>
		<key>cake</key>
		<dict>
			<key>pronounce</key>
			<string>cake</string>
			<key>effect</key>
			<string>food2</string>
		</dict>
		<key>cheese</key>
		<dict>
			<key>pronounce</key>
			<string>cheese</string>
			<key>effect</key>
			<string>food3</string>
		</dict>
		<key>cookie</key>
		<dict>
			<key>pronounce</key>
			<string>cookie</string>
			<key>effect</key>
			<string>food2</string>
		</dict>
		<key>donut</key>
		<dict>
			<key>pronounce</key>
			<string>donut</string>
			<key>effect</key>
			<string>food1</string>
		</dict>
		<key>hamburger</key>
		<dict>
			<key>pronounce</key>
			<string>hamburger</string>
			<key>effect</key>
			<string>food1</string>
		</dict>
		<key>muffin</key>
		<dict>
			<key>pronounce</key>
			<string>muffin</string>
			<key>effect</key>
			<string>food1</string>
		</dict>
		<key>pie</key>
		<dict>
			<key>pronounce</key>
			<string>pie</string>
			<key>effect</key>
			<string>food2</string>
		</dict>
		<key>pizza</key>
		<dict>
			<key>pronounce</key>
			<string>pizza</string>
			<key>effect</key>
			<string>food2</string>
		</dict>
		<key>sandwich</key>
		<dict>
			<key>pronounce</key>
			<string>pizza</string>
			<key>effect</key>
			<string>food1</string>
		</dict>
		<key>waffle</key>
		<dict>
			<key>pronounce</key>
			<string>waffle</string>
			<key>effect</key>
			<string>food2</string>
		</dict>
		<key>candy</key>
		<dict>
			<key>pronounce</key>
			<string>candy</string>
			<key>effect</key>
			<string>candy</string>
		</dict>
		<key>coffee</key>
		<dict>
			<key>pronounce</key>
			<string>coffee</string>
			<key>effect</key>
			<string>coffee</string>
		</dict>
		<key>cola</key>
		<dict>
			<key>pronounce</key>
			<string>cola</string>
			<key>effect</key>
			<string>cola</string>
		</dict>
		<key>honey</key>
		<dict>
			<key>pronounce</key>
			<string>honey</string>
			<key>effect</key>
			<string>honey</string>
		</dict>
		<key>ice</key>
		<dict>
			<key>pronounce</key>
			<string>ice</string>
			<key>effect</key>
			<string>ice</string>
		</dict>
		<key>juice</key>
		<dict>
			<key>pronounce</key>
			<string>juice</string>
			<key>effect</key>
			<string>juice</string>
		</dict>
		<key>lollipop</key>
		<dict>
			<key>pronounce</key>
			<string>lollipop</string>
			<key>effect</key>
			<string>candy</string>
		</dict>
		<key>milk</key>
		<dict>
			<key>pronounce</key>
			<string>milk</string>
			<key>effect</key>
			<string>milk</string>
		</dict>
		<key>tea</key>
		<dict>
			<key>pronounce</key>
			<string>tea</string>
			<key>effect</key>
			<string>tea</string>
		</dict>
		<key>water</key>
		<dict>
			<key>pronounce</key>
			<string>water</string>
			<key>effect</key>
			<string>water</string>
		</dict>
		<key>yogurt</key>
		<dict>
			<key>pronounce</key>
			<string>yogurt</string>
			<key>effect</key>
			<string>yogurt</string>
		</dict>
		<key>apple</key>
		<dict>
			<key>pronounce</key>
			<string>apple</string>
			<key>effect</key>
			<string>fruit3</string>
		</dict>
		<key>banana</key>
		<dict>
			<key>pronounce</key>
			<string>banana</string>
			<key>effect</key>
			<string>fruit4</string>
		</dict>
		<key>blueberry</key>
		<dict>
			<key>pronounce</key>
			<string>blueberry</string>
			<key>effect</key>
			<string>fruit4</string>
		</dict>
		<key>grapes</key>
		<dict>
			<key>pronounce</key>
			<string>grapes</string>
			<key>effect</key>
			<string>fruit1</string>
		</dict>
		<key>kiwi</key>
		<dict>
			<key>pronounce</key>
			<string>kiwi</string>
			<key>effect</key>
			<string>fruit1</string>
		</dict>
		<key>lemon</key>
		<dict>
			<key>pronounce</key>
			<string>lemon</string>
			<key>effect</key>
			<string>fruit1</string>
		</dict>
		<key>mango</key>
		<dict>
			<key>pronounce</key>
			<string>mango</string>
			<key>effect</key>
			<string>fruit4</string>
		</dict>
		<key>melon</key>
		<dict>
			<key>pronounce</key>
			<string>melon</string>
			<key>effect</key>
			<string>fruit2</string>
		</dict>
		<key>orange</key>
		<dict>
			<key>pronounce</key>
			<string>orange</string>
			<key>effect</key>
			<string>fruit1</string>
		</dict>
		<key>peach</key>
		<dict>
			<key>pronounce</key>
			<string>peach</string>
			<key>effect</key>
			<string>fruit3</string>
		</dict>
		<key>pear</key>
		<dict>
			<key>pronounce</key>
			<string>pear</string>
			<key>effect</key>
			<string>fruit3</string>
		</dict>
		<key>pineapple</key>
		<dict>
			<key>pronounce</key>
			<string>pineapple</string>
			<key>effect</key>
			<string>fruit2</string>
		</dict>
		<key>cabbage</key>
		<dict>
			<key>pronounce</key>
			<string>cabbage</string>
			<key>effect</key>
			<string>vegetable1</string>
		</dict>
		<key>carrot</key>
		<dict>
			<key>pronounce</key>
			<string>carrot</string>
			<key>effect</key>
			<string>carrot</string>
		</dict>
		<key>chili</key>
		<dict>
			<key>pronounce</key>
			<string>chili</string>
			<key>effect</key>
			<string>carrot</string>
		</dict>
		<key>corn</key>
		<dict>
			<key>pronounce</key>
			<string>corn</string>
			<key>effect</key>
			<string>food1</string>
		</dict>
		<key>lettuce</key>
		<dict>
			<key>pronounce</key>
			<string>lettuce</string>
			<key>effect</key>
			<string>vegetable1</string>
		</dict>
		<key>mushroom</key>
		<dict>
			<key>pronounce</key>
			<string>mushroom</string>
			<key>effect</key>
			<string>mushroom</string>
		</dict>
		<key>onion</key>
		<dict>
			<key>pronounce</key>
			<string>onion</string>
			<key>effect</key>
			<string>onion</string>
		</dict>
		<key>pea</key>
		<dict>
			<key>pronounce</key>
			<string>pea</string>
			<key>effect</key>
			<string>pea</string>
		</dict>
		<key>potato</key>
		<dict>
			<key>pronounce</key>
			<string>potato</string>
			<key>effect</key>
			<string>food1</string>
		</dict>
		<key>pumpkin</key>
		<dict>
			<key>pronounce</key>
			<string>pumpkin</string>
			<key>effect</key>
			<string>pumpkin</string>
		</dict>
		<key>spinach</key>
		<dict>
			<key>pronounce</key>
			<string>spinach</string>
			<key>effect</key>
			<string>vegetable1</string>
		</dict>
		<key>tomato</key>
		<dict>
			<key>pronounce</key>
			<string>tomato</string>
			<key>effect</key>
			<string>tomato</string>
		</dict>
	</dict>
	<key>Life</key>
	<dict>
		<key>ball</key>
		<dict>
			<key>pronounce</key>
			<string>ball</string>
			<key>effect</key>
			<string>ball</string>
		</dict>
		<key>cabinet</key>
		<dict>
			<key>pronounce</key>
			<string>cabinet</string>
			<key>effect</key>
			<string>cabinet</string>
		</dict>
		<key>clock</key>
		<dict>
			<key>pronounce</key>
			<string>clock</string>
			<key>effect</key>
			<string>clock</string>
		</dict>
		<key>dresser</key>
		<dict>
			<key>pronounce</key>
			<string>dresser</string>
			<key>effect</key>
			<string>dresser</string>
		</dict>
		<key>lamp</key>
		<dict>
			<key>pronounce</key>
			<string>lamp</string>
			<key>effect</key>
			<string>lamp</string>
		</dict>
		<key>painting</key>
		<dict>
			<key>pronounce</key>
			<string>painting</string>
			<key>effect</key>
			<string>painting</string>
		</dict>
		<key>pillow</key>
		<dict>
			<key>pronounce</key>
			<string>pillow</string>
			<key>effect</key>
			<string>pillow</string>
		</dict>
		<key>quilt</key>
		<dict>
			<key>pronounce</key>
			<string>quilt</string>
			<key>effect</key>
			<string>quilt</string>
		</dict>
		<key>fireplace</key>
		<dict>
			<key>pronounce</key>
			<string>fireplace</string>
			<key>effect</key>
			<string>fireplace</string>
		</dict>
		<key>light</key>
		<dict>
			<key>pronounce</key>
			<string>light</string>
			<key>effect</key>
			<string>light</string>
		</dict>
		<key>piano</key>
		<dict>
			<key>pronounce</key>
			<string>piano</string>
			<key>effect</key>
			<string>piano</string>
		</dict>
		<key>sofa</key>
		<dict>
			<key>pronounce</key>
			<string>sofa</string>
			<key>effect</key>
			<string>sofa</string>
		</dict>
		<key>table</key>
		<dict>
			<key>pronounce</key>
			<string>table</string>
			<key>effect</key>
			<string>table</string>
		</dict>
		<key>telephone</key>
		<dict>
			<key>pronounce</key>
			<string>telephone</string>
			<key>effect</key>
			<string>telephone</string>
		</dict>
		<key>vase</key>
		<dict>
			<key>pronounce</key>
			<string>vase</string>
			<key>effect</key>
			<string>vase</string>
		</dict>
		<key>drum</key>
		<dict>
			<key>pronounce</key>
			<string>drum</string>
			<key>effect</key>
			<string>drum</string>
		</dict>
		<key>flute</key>
		<dict>
			<key>pronounce</key>
			<string>flute</string>
			<key>effect</key>
			<string>flute</string>
		</dict>
		<key>guitar</key>
		<dict>
			<key>pronounce</key>
			<string>guitar</string>
			<key>effect</key>
			<string>guitar</string>
		</dict>
		<key>harp</key>
		<dict>
			<key>pronounce</key>
			<string>harp</string>
			<key>effect</key>
			<string>harp</string>
		</dict>
		<key>violin</key>
		<dict>
			<key>pronounce</key>
			<string>violin</string>
			<key>effect</key>
			<string>violin</string>
		</dict>
		<key>balloon</key>
		<dict>
			<key>pronounce</key>
			<string>balloon</string>
			<key>effect</key>
			<string>balloon</string>
		</dict>
		<key>baseball</key>
		<dict>
			<key>pronounce</key>
			<string>baseball</string>
			<key>effect</key>
			<string>baseball</string>
		</dict>
		<key>bench</key>
		<dict>
			<key>pronounce</key>
			<string>bench</string>
			<key>effect</key>
			<string>bench</string>
		</dict>
		<key>kite</key>
		<dict>
			<key>pronounce</key>
			<string>kite</string>
			<key>effect</key>
			<string>bench</string>
		</dict>
		<key>pool</key>
		<dict>
			<key>pronounce</key>
			<string>pool</string>
			<key>effect</key>
			<string>pool</string>
		</dict>
		<key>rope</key>
		<dict>
			<key>pronounce</key>
			<string>rope</string>
			<key>effect</key>
			<string>rope</string>
		</dict>
		<key>seesaw</key>
		<dict>
			<key>pronounce</key>
			<string>seesaw</string>
			<key>effect</key>
			<string>bench</string>
		</dict>
		<key>slide</key>
		<dict>
			<key>pronounce</key>
			<string>slide</string>
			<key>effect</key>
			<string>slide</string>
		</dict>
		<key>swing</key>
		<dict>
			<key>pronounce</key>
			<string>swing</string>
			<key>effect</key>
			<string>swing</string>
		</dict>
		<key>tricycle</key>
		<dict>
			<key>pronounce</key>
			<string>tricycle</string>
			<key>effect</key>
			<string>tricycle</string>
		</dict>
		<key>blocks</key>
		<dict>
			<key>pronounce</key>
			<string>blocks</string>
			<key>effect</key>
			<string>blocksword</string>
		</dict>
		<key>doll</key>
		<dict>
			<key>pronounce</key>
			<string>doll</string>
			<key>effect</key>
			<string>doll</string>
		</dict>
		<key>top</key>
		<dict>
			<key>pronounce</key>
			<string>top</string>
			<key>effect</key>
			<string>top</string>
		</dict>
		<key>airplane</key>
		<dict>
			<key>pronounce</key>
			<string>airplane</string>
			<key>effect</key>
			<string>airplane</string>
		</dict>
		<key>ambulance</key>
		<dict>
			<key>pronounce</key>
			<string>ambulance</string>
			<key>effect</key>
			<string>ambulance</string>
		</dict>
		<key>car</key>
		<dict>
			<key>pronounce</key>
			<string>car</string>
			<key>effect</key>
			<string>car</string>
		</dict>
		<key>fighter</key>
		<dict>
			<key>pronounce</key>
			<string>fighter</string>
			<key>effect</key>
			<string>fighter</string>
		</dict>
		<key>bluebells</key>
		<dict>
			<key>pronounce</key>
			<string>bluebells</string>
			<key>effect</key>
			<string>bluebells</string>
		</dict>
		<key>daffodil</key>
		<dict>
			<key>pronounce</key>
			<string>daffodil</string>
			<key>effect</key>
			<string>daffodil</string>
		</dict>
		<key>daisy</key>
		<dict>
			<key>pronounce</key>
			<string>daisy</string>
			<key>effect</key>
			<string>daisy</string>
		</dict>
		<key>hyacinth</key>
		<dict>
			<key>pronounce</key>
			<string>hyacinth</string>
			<key>effect</key>
			<string>hyacinth</string>
		</dict>
		<key>iris</key>
		<dict>
			<key>pronounce</key>
			<string>iris</string>
			<key>effect</key>
			<string>iris</string>
		</dict>
		<key>lily</key>
		<dict>
			<key>pronounce</key>
			<string>lily</string>
			<key>effect</key>
			<string>lily</string>
		</dict>
		<key>rose</key>
		<dict>
			<key>pronounce</key>
			<string>rose</string>
			<key>effect</key>
			<string>rose</string>
		</dict>
		<key>sunflower</key>
		<dict>
			<key>pronounce</key>
			<string>sunflower</string>
			<key>effect</key>
			<string>sunflower</string>
		</dict>
		<key>tulip</key>
		<dict>
			<key>pronounce</key>
			<string>tulip</string>
			<key>effect</key>
			<string>tulip</string>
		</dict>
		<key>violet</key>
		<dict>
			<key>pronounce</key>
			<string>violet</string>
			<key>effect</key>
			<string>violet</string>
		</dict>
	</dict>
	<key>Others</key>
	<dict>
		<key>astronaut</key>
		<dict>
			<key>pronounce</key>
			<string>astronaut</string>
			<key>effect</key>
			<string>astronaut</string>
		</dict>
		<key>earth</key>
		<dict>
			<key>pronounce</key>
			<string>earth</string>
			<key>effect</key>
			<string>earthwords</string>
		</dict>
		<key>jupiter</key>
		<dict>
			<key>pronounce</key>
			<string>jupiter</string>
			<key>effect</key>
			<string>jupiterwords</string>
		</dict>
		<key>mars</key>
		<dict>
			<key>pronounce</key>
			<string>mars</string>
			<key>effect</key>
			<string>marswords</string>
		</dict>
		<key>mercury</key>
		<dict>
			<key>pronounce</key>
			<string>mercury</string>
			<key>effect</key>
			<string>jupiterwords</string>
		</dict>
		<key>neptune</key>
		<dict>
			<key>pronounce</key>
			<string>neptune</string>
			<key>effect</key>
			<string>neptunewords</string>
		</dict>
		<key>saturn</key>
		<dict>
			<key>pronounce</key>
			<string>saturn</string>
			<key>effect</key>
			<string>jupiterwords</string>
		</dict>
		<key>ufo</key>
		<dict>
			<key>pronounce</key>
			<string>ufo</string>
			<key>effect</key>
			<string>ufo</string>
		</dict>
		<key>uranus</key>
		<dict>
			<key>pronounce</key>
			<string>uranus</string>
			<key>effect</key>
			<string>neptunewords</string>
		</dict>
		<key>venus</key>
		<dict>
			<key>pronounce</key>
			<string>venus</string>
			<key>effect</key>
			<string>jupiterwords</string>
		</dict>
	</dict>
</dict>
</plist>
