<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dough_circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{370,262}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,147},{370,262}}</string>
                <key>sourceSize</key>
                <string>{600,540}</string>
            </dict>
            <key>dough_circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{370,348}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,104},{370,348}}</string>
                <key>sourceSize</key>
                <string>{600,540}</string>
            </dict>
            <key>dough_circle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,508},{452,426}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,59},{452,426}}</string>
                <key>sourceSize</key>
                <string>{600,540}</string>
            </dict>
            <key>dough_circle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{504,474}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,35},{504,474}}</string>
                <key>sourceSize</key>
                <string>{600,540}</string>
            </dict>
            <key>dough_circle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,528}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{536,528}}</string>
                <key>sourceSize</key>
                <string>{600,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dough_circle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97a92d21694fcba152c9e0f94c07c875:1/1$</string>
            <key>textureFileName</key>
            <string>dough_circle.png</string>
        </dict>
    </dict>
</plist>
