<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grater1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{426,372}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,68},{426,372}}</string>
                <key>sourceSize</key>
                <string>{440,444}</string>
            </dict>
            <key>grater2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,436}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{386,436}}</string>
                <key>sourceSize</key>
                <string>{440,444}</string>
            </dict>
            <key>grater3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,440},{400,370}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,69},{400,370}}</string>
                <key>sourceSize</key>
                <string>{440,444}</string>
            </dict>
            <key>grater4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{386,398}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{386,398}}</string>
                <key>sourceSize</key>
                <string>{440,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grater.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a5694cb6a1e9b5c8676a8373ab87d38:1/1$</string>
            <key>textureFileName</key>
            <string>grater.png</string>
        </dict>
    </dict>
</plist>
