<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lemon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{156,117}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{156,117}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>lemon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{166,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{166,117}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>lemon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{228,117}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lemonhalf.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c8c0417f625f946b53686baf4912d1a:1/1$</string>
            <key>textureFileName</key>
            <string>lemonhalf.png</string>
        </dict>
    </dict>
</plist>
