<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mushroom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,122},{60,56}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,62},{60,56}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>mushroom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,122},{104,56}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,62},{104,56}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>mushroom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,122},{124,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,62},{124,56}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>mushroom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,62},{160,58}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,61},{160,58}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>mushroom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{186,58}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{186,58}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>mushroom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,58}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,62},{196,58}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mushroom.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a23df99a6a4d291ca1d527157622c03:1/1$</string>
            <key>textureFileName</key>
            <string>mushroom.png</string>
        </dict>
    </dict>
</plist>
