<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oil1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{155,244}}</string>
                <key>offset</key>
                <string>{-57,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{155,244}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{175,246}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{175,246}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{155,244}}</string>
                <key>offset</key>
                <string>{-57,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{155,244}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{175,246}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{175,246}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,469},{195,228}}</string>
                <key>offset</key>
                <string>{-48,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{195,228}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{221,202}}</string>
                <key>offset</key>
                <string>{-55,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{221,202}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,206},{261,202}}</string>
                <key>offset</key>
                <string>{-34,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,25},{261,202}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,266}}</string>
                <key>offset</key>
                <string>{-25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{281,266}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil7.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,206},{261,202}}</string>
                <key>offset</key>
                <string>{-34,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,25},{261,202}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil8.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{221,202}}</string>
                <key>offset</key>
                <string>{-55,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{221,202}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
            <key>oil9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,469},{195,228}}</string>
                <key>offset</key>
                <string>{-48,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{195,228}}</string>
                <key>sourceSize</key>
                <string>{333,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oli.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6880e33c722429bf9f7414a14909ff4e:1/1$</string>
            <key>textureFileName</key>
            <string>oli.png</string>
        </dict>
    </dict>
</plist>
