<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,213}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{238,213}}</string>
                <key>sourceSize</key>
                <string>{300,275}</string>
            </dict>
            <key>touch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{238,207}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{238,207}}</string>
                <key>sourceSize</key>
                <string>{300,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pick.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0f7071a89ad6b15441a818e37740cb3:1/1$</string>
            <key>textureFileName</key>
            <string>pick.png</string>
        </dict>
    </dict>
</plist>
