<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>salt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{82,160}}</string>
                <key>offset</key>
                <string>{-182,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{82,160}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>salt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{160,88}}</string>
                <key>offset</key>
                <string>{-38,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,49},{160,88}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>salt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,258}}</string>
                <key>offset</key>
                <string>{98,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,31},{254,258}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>salt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{160,88}}</string>
                <key>offset</key>
                <string>{-38,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,49},{160,88}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
            <key>salt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{82,160}}</string>
                <key>offset</key>
                <string>{-182,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{82,160}}</string>
                <key>sourceSize</key>
                <string>{450,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>salt.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c5dae10e8076ca3b479b79977bcdee:1/1$</string>
            <key>textureFileName</key>
            <string>salt.png</string>
        </dict>
    </dict>
</plist>
