<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spinach1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{136,142}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,16},{136,142}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>spinach2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{200,142}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,19},{200,142}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>spinach3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{186,140}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,19},{186,140}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>spinach4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,136}}</string>
                <key>offset</key>
                <string>{49,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,18},{218,136}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spinach.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6071ac022c12a0164dc639b8de972e:1/1$</string>
            <key>textureFileName</key>
            <string>spinach.png</string>
        </dict>
    </dict>
</plist>
