<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sugar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{152,161}}</string>
                <key>offset</key>
                <string>{-47,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{152,161}}</string>
                <key>sourceSize</key>
                <string>{280,285}</string>
            </dict>
            <key>sugar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{178,181}}</string>
                <key>offset</key>
                <string>{-36,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{178,181}}</string>
                <key>sourceSize</key>
                <string>{280,285}</string>
            </dict>
            <key>sugar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,279},{180,177}}</string>
                <key>offset</key>
                <string>{-44,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{180,177}}</string>
                <key>sourceSize</key>
                <string>{280,285}</string>
            </dict>
            <key>sugar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,275}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{224,275}}</string>
                <key>sourceSize</key>
                <string>{280,285}</string>
            </dict>
            <key>sugar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,279},{180,177}}</string>
                <key>offset</key>
                <string>{-44,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{180,177}}</string>
                <key>sourceSize</key>
                <string>{280,285}</string>
            </dict>
            <key>sugar6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{178,181}}</string>
                <key>offset</key>
                <string>{-36,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{178,181}}</string>
                <key>sourceSize</key>
                <string>{280,285}</string>
            </dict>
            <key>sugar7.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{152,161}}</string>
                <key>offset</key>
                <string>{-47,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{152,161}}</string>
                <key>sourceSize</key>
                <string>{280,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sugar.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7b5d02213c5ff315ec02e674f9d0cbf:1/1$</string>
            <key>textureFileName</key>
            <string>sugar.png</string>
        </dict>
    </dict>
</plist>
