<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>candy1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{134,144}}</string>
                <key>offset</key>
                <string>{-83,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,17},{134,144}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>candy1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,144}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{322,144}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>candy1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,148},{322,142}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{322,142}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>candy1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{322,142}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,23},{322,142}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>candy1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9624bdbadcb1283ed3382346aa78d015:1/1$</string>
            <key>textureFileName</key>
            <string>candy1.png</string>
        </dict>
    </dict>
</plist>
