<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>candy3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{234,120}}</string>
                <key>offset</key>
                <string>{-123,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{234,120}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>candy3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{466,120}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{466,120}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>candy3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,120}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{466,120}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
            <key>candy3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{466,118}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{466,118}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>candy3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba182fac5efd6022fd2e6829faddf134:1/1$</string>
            <key>textureFileName</key>
            <string>candy3.png</string>
        </dict>
    </dict>
</plist>
