<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>candy2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,70}}</string>
                <key>offset</key>
                <string>{-58,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,58},{220,70}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>candy2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{322,70}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{322,70}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>candy2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,74},{322,68}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{322,68}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>candy2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{322,70}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{322,70}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>candy2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52bd905a47ccd81963eb6f0c41646eec:1/1$</string>
            <key>textureFileName</key>
            <string>candy2.png</string>
        </dict>
    </dict>
</plist>
