<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>christmas1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{180,120}}</string>
                <key>offset</key>
                <string>{-78,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{180,120}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>christmas1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{298,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{298,120}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>christmas1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{316,120}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,31},{316,120}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
            <key>christmas1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,120}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{316,120}}</string>
                <key>sourceSize</key>
                <string>{360,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>christmas1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0752b8b2b300141d979e4fcd82f7743c:1/1$</string>
            <key>textureFileName</key>
            <string>christmas1.png</string>
        </dict>
    </dict>
</plist>
